<li>
  <div class="relative pb-8">
    <span class="absolute top-4 left-4 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
    <div class="relative flex space-x-3">
      <div>
        <%= tag.span class: "h-8 w-8 rounded-full #{color} flex items-center justify-center ring-8 ring-white" do %>
          <%= inline_svg_tag icon, class: "h-5 w-5 text-white" %>
        <% end %>
      </div>
      <div class="min-w-0 flex-1 pt-1.5 flex justify-between space-x-4">
        <div>
          <p class="text-sm text-gray-500"><%= content %></p>
        </div>
        <div class="text-right text-sm whitespace-nowrap text-gray-500">
          <%= tag.time formatted_date, datetime: datetime %>
        </div>
      </div>
    </div>
  </div>
</li>
